<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.TagMapper">
    <select id="selectTagsByArticleId" parameterType="java.lang.Long" resultType="com.ty.domain.pojo.Tag">
        select id, avater, tag_name tagName from ms_tag
        where id in
        (select tag_id from ms_article_tag where article_id = #{artocleId})
    </select>
</mapper>